{% extends "base.html" %}

{% block content%}
<h1>Edit Profile</h1>
<div class="mb-3">
    <form action="" method="post" class="form">
        {{ form.hidden_tag() }}

        <!-- Username Field ------------------------------------------------------------------------------------------->
        <div class="form-floating mb-3">
            {{ form.username }}
            <label>{{ form.username.label }}</label>
            {% for error in form.username.erros %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>

        <!-- Email Field ---------------------------------------------------------------------------------------------->
        <div class="form-floating mb-3">
            {{ form.email }}
            <label>{{ form.email.label }}</label>
            {% for error in form.email.erros %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>

        <!-- Password Field ------------------------------------------------------------------------------------------->
        <div class="form-floating mb-3">
            {{ form.about_me }}
            <label>{{ form.about_me.label }}</label>
            {% for error in form.about_me.erros %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>

        <!-- Submit Field --------------------------------------------------------------------------------------------->
        {{ form.submit }}
    </form>
</div>
{% endblock %}