{% extends "base.html" %}

{% block content%}
<h1>Hi, {{ user.username }}!</h1>
<hr>
<h2>My Posts:</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Post</th>
            <th scope="col">Sent on</th>
            <th scope="col">Options</th>
            <th scope="col"><button type="submit" class="btn btn-primary"><a style="color:white; text-decoration: none" href="{{ url_for('user_post')}}">Add Post</a></button></th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ post.body }}</td>
            <td>{{ post.timestamp }}</td>
            <td class="align-middle"><a href="{{ url_for('edit_post', post_id=post.id) }}"><i class="bi bi-pen-fill" style="font-size: 1.1rem; color: cornflowerblue;"></i></a>
                <i class="bi bi-trash" style="font-size: 1.1rem; color: cornflowerblue;"></i>
            </td>
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock%}