{% extends "base.html" %}

{% block content%}
<h1>Sign In</h1>
<div class="mb-3">
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <!-- Username Field ------------------------------------------------------------------------------------------->
        <div class="form-floating mb-3">
            {{ form.username }}
            <label>{{ form.username.label }}</label>
            {% for error in form.username.erros %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>

        <!-- Password Field ------------------------------------------------------------------------------------------->
        <div class="form-floating mb-3">
            {{ form.password }}
            <label>{{ form.password.label }}</label>
            {% for error in form.password.erros %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>

        <!-- Remember Me --------------------------------------------------------------------------------------------->
        {{ form.remember_me() }}
        <label>{{ form.remember_me.label }}</label>

        <br>
        <br>
        <!-- Submit Field --------------------------------------------------------------------------------------------->
        {{ form.submit }}

        <br>
        <br>
        <p>New User?<a href="{{ url_for('registration') }}"> Click here to register!</a></p>
        <p>Forget Your Passoword?<a href="{{ url_for('reset_password_request') }}"> Click here to reset!</a></p>

    </form>
</div>
{% endblock %}