{% extends "base.html" %}

{% block content%}
<h1>{{ title }}</h1>
<div class="mb-3">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <!-- Password Field ------------------------------------------------------------------------------------------->
        <div class="form-floating mb-3">
            {{ form.password }}
            <label>{{ form.password.label }}</label>
            {% for error in form.password.erros %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        <!-- Password2 Field ------------------------------------------------------------------------------------------>
        <div class="form-floating mb-3">
            {{ form.password2 }}
            <label>{{ form.password2.label }}</label>
            {% for error in form.password2.erros %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        <br>
        <!-- Submit Field --------------------------------------------------------------------------------------------->
        {{ form.submit }}
    </form>
</div>
{% endblock %}